@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 0.625em;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 80rem;
    color: #070707;
    background: radial-gradient(
        circle,
        rgba(175, 196, 174, 1) 0%,
        rgba(104, 204, 191, 1) 89%,
        rgba(94, 191, 178, 1) 100%
);
}

button {
    background-color: rgb(255, 247, 247);
    border: solid #040405;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    margin-top: 40px;
    padding: 20px 40px;
    border: solid #040405;
    background-color: rgba(253, 253, 253, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url(https://cur.cursors-4u.net/others/oth-5/oth435.cur), auto !important; 
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url('mole.png');
    background-size: cover;
}