@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(146, 197, 245, 0.678);
}

button {
    background-color: rgb(255, 247, 247);
    border: solid #040405;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    padding: 20px 20px;
    border: thick solid #040405;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url('mole.png');
    background-size: cover;
}