@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 350px;
}

.grid div {
    height: 50px;
    width: 50px;
}

.player-one {
    background-color: red;
    border-radius: 25px;
}

.player-two {
    background-color: blue;
    border-radius: 25px;
}

body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(146, 197, 245, 0.678);
}

.container {
    padding: 20px 40px;
    border: thick solid #040405;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: thistle;
    border: solid #040405;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
